.page {
  width: 1440px;
  height: 1024px;
  position: relative;
  background-color: #f3f5fc;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 120px;
  height: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

.rectanguloBlanco {
  position: absolute;
  width: 400px;
  height: 944px;
  margin-left: 1000px;
  margin-top: 40px;
  background-color: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
.muneco {
  position: absolute;
  width: 336px;
  height: 304px;
  margin-left: 1032px;
  margin-top: 283px;
}

.campoDeTexto {
  position: absolute;
  width: 680px;
  height: 48px;
  margin-left: 240px;
  margin-top: 168px;

  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #0a3871;
}
.indicacionesFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 229px;
  height: 18px;
  margin-left: 240px;
  margin-top: 851px;
}
.textAdvertencia {
  position: static;
  width: 205px;
  height: 18px;
  margin-left: 24px;
  margin-top: 0px;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  color: #495057;
  opacity: 0.8;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
.advertenciaIcon {
  position: static;
  width: 16px;
  height: 16px;
  margin-left: 0px;
  margin-top: 1px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}
.btnFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 680px;
  height: 67px;
  margin-left: 240px;
  margin-top: 885px;
}
.btnEncriptar {
  /* display: flex; */
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  margin-left: 0px;
  margin-top: 0px;

  background: #0a3871;
  border-radius: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.btnDesencriptar {
  /* display: flex; */
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  margin-left: 352px;
  margin-top: 0px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  box-sizing: border-box;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #0a3871;
}
.orientacionFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 336px;
  height: 122px;
  margin-left: 1032px;
  margin-top: 619px;
}
.textoNingun {
  position: static;
  width: 336px;
  height: 58px;
  left: 0px;
  top: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  text-align: center;

  color: #343a40;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}
.textoIngresa {
  position: static;
  width: 336px;
  height: 48px;
  left: 0px;
  top: 74px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  text-align: center;

  color: #495057;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}
.cajaDeTexto {
  position: absolute;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
}
.textoDentroDeCaja {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  /* or 48px */

  color: #0a3871;
}
